
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyLoad</title>
</head>
<body>
    <div> 
        <div style="float:right" id="docLoader"><img style="float:right;" src="~/images/loading.gif" /></div>
    </div>
</body>
</html>
