@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    houston
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@rimkus.com">Support@rimkus.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@rimkus.com">Marketing@rimkus.com</a>
</address>