
@{
    Layout = "~/Views/Shared/_RFEPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FileViewer</title>
    @section styles
    {
    <link href="~/css/prettyPhoto.css" rel="stylesheet" />

        <style type="text/css" media="screen">
            ul li {
                display: inline;
            }

            .wide {
                border-bottom: 1px #000 solid;
                width: 4000px;
            }

            .fleft {
                float: left;
                margin: 0 20px 0 0;
            }

            .cboth {
                clear: both;
            }

            #main {
                background: #fff;
                margin: 0 auto;
                padding: 30px;
                width: 1000px;
            }
        </style>

    }
</head>
<body>
    <div>

        <div id="main">
            <h1>Share : RimBigFile</h1>
            
            <ul class="gallery clearfix">
                <li><a href="~/images/fullscreen/DSC02569.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02574.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02578.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02587.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02589.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02599.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02612.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02613.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02618.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02667.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02692.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02699.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC02701.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC03338.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC03339.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC03340.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/DSC03341.JPG" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
            
                <li><a href="~/images/fullscreen/3.jpg" rel="prettyPhoto[gallery2]" title="How is the description on that one? How is the description on that one? How is the description on that one? "><img src="~/images/thumbnails/t_3.jpg" width="60" height="60" alt="This is a pretty long title" /></a></li>
                <li><a href="~/images/fullscreen/4.jpg" rel="prettyPhoto[gallery2]" title="Description on a single line."><img src="~/images/thumbnails/t_4.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/5.jpg" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_5.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/1.jpg" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/2.jpg" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_2.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/3.jpg" rel="prettyPhoto[gallery2]" title="How is the description on that one? How is the description on that one? How is the description on that one? "><img src="~/images/thumbnails/t_3.jpg" width="60" height="60" alt="This is a pretty long title" /></a></li>
                <li><a href="~/images/fullscreen/4.jpg" rel="prettyPhoto[gallery2]" title="Description on a single line."><img src="~/images/thumbnails/t_4.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/5.jpg" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_5.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/1.jpg" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_1.jpg" width="60" height="60" alt="" /></a></li>
                <li><a href="~/images/fullscreen/2.jpg" rel="prettyPhoto[gallery2]"><img src="~/images/thumbnails/t_2.jpg" width="60" height="60" alt="" /></a></li>
            </ul>
          
            <script type="text/javascript" charset="utf-8">
                api_gallery = ['~/images/fullscreen/1.JPG', '~/images/fullscreen/2.jpg', '~/images/fullscreen/3.JPG'];
				api_titles=['Image 1','Image 2','Image 3'];
				api_descriptions=['Description 1','Description 2','Description 3'];
            </script>

        </div>

    







    </div>
</body>

</html>
@section scripts
    {
    <script src="~/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
                $("a[rel^='prettyPhoto']").prettyPhoto({ social_tools: false });
				$("area[rel^='prettyPhoto']").prettyPhoto();
				$("a[rel^='prettyPhoto']").prettyPhoto({ social_tools: false });
				$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true});
				$(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});				
			});
</script>
}